@model IEnumerable<NetFilmx_Service.Dtos.User.UserListDto>

    <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Users</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
</head>
<body>

<h1>Users</h1>
<a asp-action="Add" class="btn btn-primary">Add New User</a>

<ul class="list-group mt-3">
    @foreach (var user in Model)
    {
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>
                <a asp-action="Details" asp-route-userId="@user.Id">@user.Username</a>
            </span>
            <span>
                <a asp-action="Edit" asp-route-userId="@user.Id" class="btn btn-warning btn-sm">Edit</a>
                <a asp-action="Videos" asp-route-userId="@user.Id" class="btn btn-info btn-sm">Purchased Videos</a>
                <a asp-action="Series" asp-route-userId="@user.Id" class="btn btn-info btn-sm">Purchased Series</a>
                <a asp-action="Comments" asp-route-userId="@user.Id" class="btn btn-info btn-sm">Posted Comments</a>
            </span>
        </li>
    }
</ul>
</body>
</html>