@model IEnumerable<NetFilmx_Service.Dtos.User.UserListDto>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Users</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
</head>
<body>

    <h1>Users</h1>
    <a asp-action="Add" class="btn btn-primary">Add New User</a>

    <ul class="list-group mt-3">
        @foreach (var user in Model)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>
                    <a asp-action="Details" asp-route-userId="@user.Id">@user.Username</a>
                </span>
                <span>
                    <form asp-action="Edit" method="get" style="display:inline;">
                        <input type="hidden" name="userId" value="@user.Id" />
                        <input type="hidden" name="userUsername" value="@user.Username" />
                        <button type="submit" class="btn btn-warning btn-sm">Edit</button>
                    </form>
                    <form asp-action="Videos" method="get" style="display:inline;">
                        <input type="hidden" name="userId" value="@user.Id" />
                        <input type="hidden" name="userUsername" value="@user.Username" />
                        <button type="submit" class="btn btn-info btn-sm">Purchased Videos</button>
                    </form>
                    <form asp-action="Series" method="get" style="display:inline;">
                        <input type="hidden" name="userId" value="@user.Id" />
                        <input type="hidden" name="userUsername" value="@user.Username" />
                        <button type="submit" class="btn btn-info btn-sm">Purchased Series</button>
                    </form>
                    <form asp-action="Comments" method="get" style="display:inline;">
                        <input type="hidden" name="userId" value="@user.Id" />
                        <input type="hidden" name="userUsername" value="@user.Username" />
                        <button type="submit" class="btn btn-info btn-sm">Posted Comments</button>
                    </form>

                </span>
            </li>
        }
    </ul>
</body>
</html>