@model IEnumerable<NetFilmx_Service.Dtos.Video.VideoListDto>

<h1>Filmy w kategorii: @ViewBag.CategoryName</h1>

<ul>
    @foreach (var video in Model)
    {
        <li>
            <a href="@Url.Action("Details", "Video", new { id = video.Id })">@video.Title</a>
        </li>
    }
</ul>

<a href="@Url.Action("AddVideos", new { categoryId = ViewBag.CategoryId, categoryName = ViewBag.CategoryName })">Add videos to category</a>
<a href="@Url.Action("DeleteVideos", new { categoryId = ViewBag.CategoryId, categoryName = ViewBag.CategoryName  })">Delete videos from category</a>
