@{
    ViewData["Title"] = "Main Page";
}

<h1>Strona główna</h1>

<div>
    <a href="@Url.Action("Index", "Category")">Categories</a>
</div>
<div>
    <a href="@Url.Action("Index", "User")">Users</a>
</div>
<div>
    <a href="@Url.Action("Index", "Comment")">Comments</a>
</div>
<div>
    <a href="@Url.Action("Index", "Series")">Series</a>
</div>
<div>
    <a href="@Url.Action("Index", "Tag")">Tags</a>
</div>
<div>
    <a href="@Url.Action("Index", "Video")">Videos</a>
</div>